body {
    margin: 0;
    font-family: sans-serif;
}

#schedule-app {
    position: relative;
    width: 90%;
    min-width: 600px;
    height: 80vh;
    margin: 3vh auto 0;
    /*padding: 0 50px;*/
}

.container {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: stretch;
    align-items: stretch;

    height: 100%;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.map {
    width: 100%;
    height: 100%;
}

.title {
    margin: 0;
    padding: 10px 10px 12px;
    text-align: center;
    background-color: #ff8663; 
    font-size: 26px;
    color: #fff;
    border-radius: 10px 10px 0 0; 
}

/* -------------- Menu -------------- */
/* ---------------------------------- */

.menu {
    position: absolute;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    z-index: 1;
    background-color: #fff;
    border-bottom: 2px solid #ff8663;
    
    & input[type="radio"] {
        display: none;
    }
    & input[type="radio"]:checked+label {
        font-weight: bold;
        color: #fff;
        background-color: #ff8663;
    }
    & label {
        display: inline-block;
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid #ff8663;
        border-radius: 8px;
    }
    &-group {
        display: inline-block;
        margin: 0 20px;
    }

    &-trigger {
        position: absolute;
        top: 4px;
        left: 10px;
        font-size: 30px;
        color: #fff;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

/* -------------- Info -------------- */
/* ---------------------------------- */

.info {
    position: relative;
    flex-basis: 70%;
    
    &-message-wrap {
        position: absolute;
        display: inline-block;
        top: 40%; left: 50%;
        padding: 20px;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-align: center;
        background-color: #ff8663;
        border-radius: 10px;
    }

    &-message {
        color: #fff;
    }

    &-message-btn {
        padding: 8px 25px;
        font-weight: bold;
        outline: none;
        color: #fff;
        text-transform: uppercase;
        border: 2px solid #fff;
        border-radius: 10px;
        background-color: #ff8663;
        cursor: pointer;
        transition: .2s ease;
        
        &:hover {
            background-color: #fff;
            color: #ff8663;
        }
    }
}

/* -------------- Routes -------------- */
/* ------------------------------------ */

.routes {
    position: relative;
    flex-basis: 30%;
    overflow-y: scroll;
    direction: rtl;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    
    &-preloader {
        position: absolute;
        left: 50%; top: 35%;
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -60px;
        border: 16px solid #f7f1df;
        border-top: 16px solid #ff8663;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }

    &-list {
        margin: 0;
        padding: 0;
        list-style: none;
        direction: ltr;
    }
    &-item {
        border-bottom: 1px solid #fefefe;
        &:nth-child(even) {
            background: #f7f1df;
        }
    }

    &-link {
        position: relative;
        display: block;
        font-size: 12px;
        color: #000;
        text-decoration: none;
        padding: 6px 10px;
        &:hover {
            background-color: #ffe082;
        }
        &.active {
            background-color: #ffca28;
        }
    }
    
    &-num {
        position: absolute;
        display: inline-block;
        min-width: 20px;
        left: 6px; top: 50%;
        transform: translateY(-50%);
        padding: 2px 5px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        background-color: #ff8663;
        border-radius: 5px;
    }

    &-name {
        display: inline-block;
        padding-left: 40px;
    }
}

/* -------------- Info window -------------- */
/* ----------------------------------------- */

/* info window content */
.gm-style .gm-style-iw .iw-content {
    font-size: 16px;
    font-weight: 400;
    color: #ff8663;
}

/* info window closer */
.gm-style .gm-style-iw + div {
    width: 18px !important;
    height: 18px !important;
    top: 9px !important;
    right: 9px !important;
    font-size: 14px;
    color: #ff8663;
    border: 1px solid #ff8663;
    border-radius: 8px;
    overflow: hidden !important;
    opacity: 1 !important;
}
.gm-style .gm-style-iw + div:hover {
    background-color: #ff8663;
    color: #fff;
}

.gm-style .gm-style-iw + div:before  {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    content: 'x';
    text-align: center;
}

/* hide default image */
.gm-style .gm-style-iw + div img {
    display: none;
}

/* -------------- Media Queries -------------- */
/* ----------------------------------------- */

@media (max-width: 800px) {
    .menu-group {
        margin: 0 10px;
    }
}

/* -------------- Animation -------------- */
/* ----------------------------------------- */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}